@model IslamByAge.Core.Domain.Category
@using IslamByAge.Core.Enums; 
@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}
    <div class="card shadow mb-4">
        <div class="card-header py-3" style="background-color:seagreen">
            <h6 class="m-0 font-weight-bold text-white">Categories</h6>
        </div>
        <div class="card-body">
                    <form asp-action="CreateOrEdit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="CreatedOn" />
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <input asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control"></select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group text-right">
                            <a class="btn text-white" asp-action="Index" style="background-color:seagreen">Discard</a>
                            <input type="submit" value="Save" class="btn text-white" style="background-color:seagreen" />
                        </div>
                    </form>
            </div>
        </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
