@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">WELCOME TO</h4>
    <h1 class="display-1">IslamByAge</h1>
    <h4 class="display-4">A age wise complete guid for islamic khowlegde and islamic way of life</h4>
</div>
