@{
    ViewData["Title"] = "Home Page";
}
<style>
    #banner {
        float: left;
        width: 100%;
        position: relative;
        background-image: url('../images/silder.jpg');
        background-repeat: no-repeat;
        height: 550px;
        background-position: center;
        background-size: cover;
    }

    #bannerText {
        position: center;
    }
</style>
<div class="text-center">
    <div id="banner">
        <div id="bannerText" class="mt-5">
            <img src="~/images/image_logo.png" />
        </div>
    </div>
</div>
